        <nav class="topnav" id="myTopnav">
            {# <a href="{{ path('home') }}"><span class="material-symbols-outlined">arrow_forward</span></a>
            <a {% if url == 'about' %} class="active" {% endif %} href="{{ path('proj-about') }}">
            About
            </a>
            <a {% if url == 'api' %} class="active" {% endif %} href="{{ path('proj-api') }}">
            API
            </a>
            <a {% if url == 'leaderboard' %} class="active" {% endif %} href="">
            Leaderboard
            </a>
            <a {% if url == 'rules' %} class="active" {% endif %} href="{{ path('proj-rules') }}">
            Rules
            </a>
            <a {% if url == 'proj' %} class="active" {% endif %} href="{{ path('proj') }}">
            Home
            </a> #}

            <a {% if url == 'proj' %} class="active" {% endif %} href="{{ path('proj') }}">
            Home
            </a>
            <a {% if url == 'rules' %} class="active" {% endif %} href="{{ path('proj-rules') }}">
            Rules
            </a>
            <a {% if url == 'leaderboard' %} class="active" {% endif %} href="">
            Leaderboard
            </a>
            <a {% if url == 'api' %} class="active" {% endif %} href="{{ path('proj-api') }}">
            API
            </a>
            <a {% if url == 'about' %} class="active" {% endif %} href="{{ path('proj-about') }}">
            About
            </a>
            <a href="{{ path('home') }}"><span class="material-symbols-outlined">arrow_forward</span></a>



            <a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-expanded="false"
                tabindex="0">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </a>
        </nav>