{% extends 'base-project.html.twig' %}

{% block title %}Project-api{% endblock %}

{% block body %}

<h1 class="title">Api routes</h1>

<div class="flex-wrapper-col">
<div class="half-width-col">
<div class="wrapper api">
<form method="post" action="{{ path('api-bot-plays') }}">
<h2>[POST] /project/api/bot-plays</h2>

<div class="register-link">
<p>Each time the route is entered bot picks top card from a shuffled deck and places into 5x5 grid based on generated (auto-calculated) suggestion. Grid is saved in session and reset after the grid gets full. Json object displays the picked card, the grid and the suggestion. The suggestion is primarily based on if the picked card combined with the cards in any of the rows and any of the columns together with the cards that will be picked from deck (each other card except for the last two) will result in possible rule scoring. If a rule is possible to score in row but not in a column of that row the card is placed in the last empty slot of the row, and vice versa if rule is possible in a column but not in a row of the column. Rules are checked one by one in all 10 hands ranging from the rule that generates highest points to the rule that generates the lowest. If no rule is possible to achive with the card in any column or row the card is placed in first empty slot.</p>
</div>
<button class="form-btn" type="submit">Go to route</button>

</form>
</div>

<div class="wrapper api">
<form method="post" action="{{ path('api-results') }}">
<h2>[POST] /project/api/results</h2>

<div class="register-link">
<p>A new grid is filled completely based on automatically calculated suggestions. Then, all ten hands are evaluated and the fulfilled rule/points for each hand and total are displayed. </p>
</div>
<button class="form-btn" type="submit">Go to route</button>

</form>
</div>

<div class="wrapper api">
<form method="get" action="{{ path('api-user', {email: 'jane@bth.se'}) }}">

<h2>[GET] /project/api/user/jane@bth.se</h2>

    <div class="register-link">
    <p>Displays data of user with email 'jane@bth.se'</p>
    </div>
    <button class="form-btn" type="submit">Go to route</button>

</form>
</div>


<div class="wrapper api">
<form method="GET" action="{{ path('api-game-state') }}">
<h2>[GET] /project/api/game-state</h2>

<div class="register-link">
<p>Shows data for the currently initiated Poker Square Game</p>
</div>
<button class="form-btn" type="submit">Go to route</button>

</form>
</div>

<div class="wrapper api">
<form method="GET" action="{{ path('api-leaderboard') }}">
<h2>[GET] /project/api/leaderboard</h2>

<div class="register-link">
<p>Shows the 10 highest scores</p>
</div>
<button class="form-btn" type="submit">Go to route</button>

</form>

</div>


</div>
<div class="half-width-col">

<div class="wrapper api">
<form id="grid-form" method="post" action="">
<h2>[POST] /project/api/place-card/row/col</h2>

<div class="register-link">
<p>Pick top card from new, unshuffled deck and place it into empty grid. Click on one of the slots and the api route will display the updated grid with the card in it. </p>
</div>
<div class="api-grid">
    {% for i in 0..4 %}
        {% for j in 0..4 %}
                <button class="slot player-slot grid-row{{i}} grid-col-{{j}}" type="submit" onClick="this.form.action='{{ path('api-place-card', {row: i, col: j}) }}';">r:{{i}}, c:{{j}}</button>
                {# <input class="slot player-slot grid-row{{i}} grid-col-{{j}}" value="r:{{i}}, c:{{j}}" type="submit" onClick="this.form.action='{{ path('api-place-card', {row: i, col: j}) }}';"> #}
        {% endfor %}
    {% endfor %}
</div>
</form>
</div>

<div class="wrapper api">
<form method="GET" action="{{ path('api-users') }}">
<h2>[GET] /project/api/users</h2>

<div class="register-link">
<p>Shows all registered users</p>
</div>
<button class="form-btn" type="submit">Go to route</button>

</form>
</div>

<div class="wrapper api">
<form method="GET" action="{{ path('api-transactions') }}">
<h2>[GET] /project/api/transactions</h2>

<div class="register-link">
<p>Shows all transactions, with the latest one first</p>
</div>
<button class="form-btn" type="submit">Go to route</button>

</form>

</div>

</div>
</div>

{% endblock %}
