{% extends 'base-project.html.twig' %}

{% block title %}Project-api{% endblock %}

{% block body %}

<h1 class="title">Api routes</h1>

<div class="flex-wrapper-col">
<div class="half-width-col">
<div class="wrapper api">
<form method="post" action="{{ path('api-bot-plays') }}">
<h2>[POST] /project/api/bot-plays</h2>

<div class="register-link">
<p>Each time the route is entered bot picks top card from a shuffled deck and places into 5x5 grid based on generated (auto-calculated) suggestion, based on same logic as player suggestion cheat. Grid is saved in session and reset after the grid gets full. Json object displays the picked card, the grid (with the card placed in the suggested slot) and the suggestion (suggested slot and for all 10 hands best possible rule with the dealt card, best possible rule without the dealt card and the calculated priority "weight").</p>
</div>
<button class="form-btn" type="submit">Go to route</button>

</form>
</div>

<div class="wrapper api">
<form method="post" action="{{ path('api-results') }}">
<h2>[POST] /project/api/results</h2>

<div class="register-link">
<p>A new grid is filled completely based on automatically calculated suggestions, based on same logic as player suggestion cheat. Then, all ten hands are evaluated and the best scored rule/points for each hand and total are displayed. </p>
</div>
<button class="form-btn" type="submit">Go to route</button>

</form>
</div>

<div class="wrapper api">
<form method="get" action="{{ path('api-user', {email: 'jane@bth.se'}) }}">

<h2>[GET] /project/api/user/jane@bth.se</h2>

    <div class="register-link">
    <p>Displays data of user with email 'jane@bth.se'</p>
    </div>
    <button class="form-btn" type="submit">Go to route</button>

</form>
</div>


<div class="wrapper api">
<form method="GET" action="{{ path('api-game-state') }}">
<h2>[GET] /project/api/game-state</h2>

<div class="register-link">
<p>Shows data for the currently initiated Poker Squares Game. Note that you can only see the statistics between purchasing suggestion cheat and placing a card - when you palce a card the suggestion "placeholder" is reset and a new suggestion/stats is not shown until you make a new purchase</p>
</div>
<button class="form-btn" type="submit">Go to route</button>

</form>
</div>

<div class="wrapper api">
<form method="GET" action="{{ path('api-leaderboard') }}">
<h2>[GET] /project/api/leaderboard</h2>

<div class="register-link">
<p>Shows the 10 highest scores</p>
</div>
<button class="form-btn" type="submit">Go to route</button>

</form>

</div>


</div>
<div class="half-width-col">

<div class="wrapper api">
<form id="grid-form" method="post" action="">
<h2>[POST] /project/api/place-card/row/col</h2>

<div class="register-link">
<p> Click on any of the slots. Top card will be picked from a new shuffled deck and palced into your chosen slot. The Json object in this route displays the updated grid with the card in it and the remaining cards in the deck </p>
</div>
<div class="api-grid">
    {% for i in 0..4 %}
        {% for j in 0..4 %}
                <button class="slot player-slot grid-row{{i}} grid-col-{{j}}" type="submit" onClick="this.form.action='{{ path('api-place-card', {row: i, col: j}) }}';">r:{{i}}, c:{{j}}</button>
        {% endfor %}
    {% endfor %}
</div>
</form>
</div>

<div class="wrapper api">
<form method="GET" action="{{ path('api-users') }}">
<h2>[GET] /project/api/users</h2>

<div class="register-link">
<p>Shows all registered users</p>
</div>
<button class="form-btn" type="submit">Go to route</button>

</form>
</div>

<div class="wrapper api">
<form method="GET" action="{{ path('api-transactions') }}">
<h2>[GET] /project/api/transactions</h2>

<div class="register-link">
<p>Shows all transactions, with the latest one first</p>
</div>
<button class="form-btn" type="submit">Go to route</button>

</form>

</div>

</div>
</div>

{% endblock %}
