{% extends 'base-project.html.twig' %}

{% block title %}Casino{% endblock %}

{% block body %}


<div class="outer-grid-container suggestion">

<h2 class="grid-col-0 grid-row-0">House, prel score: {{results['house']['total']}}</h2>
{{ include('proj/incl/house-grid.html.twig') }}

<div class="center-grid">
<div class="slot the-card grid-row-0 grid-col-0"><img src="{{ asset(card['img']) }}" alt="{{ card['alt'] }}"></div>


{{ include('proj/incl/return-to-game-arr.html.twig') }}
</div>

<h2 class="grid-col-2 grid-row-0">You, prel score: {{results['player']['total']}}</h2>
<form class="game-grid results player-grid" id="grid-form" method="post" action="">

    {% for k in 0..4 %}
        {% for l in 0..4 %}
            {% if player[k][l]['alt'] != "" %}
                <div class="slot grid-row-{{k}} grid-col-{{l}}"><img src="{{ asset(player[k][l]['img']) }}" alt="{{ player[k][l]['alt'] }}"></div>
            {% elseif suggestion['slot'][0] == k and suggestion['slot'][1] == l %}
                <button class="slot clickable player-slot suggested grid-row{{k}} grid-col-{{l}}" type="submit" onClick="this.form.action='{{ path('proj-round', {row: k, col: l}) }}';">SUGGESTED</button>
            {% else %}
                <button class="slot clickable player-slot grid-row{{k}} grid-col-{{l}}" type="submit" onClick="this.form.action='{{ path('proj-round', {row: k, col: l}) }}';"></button>
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% for row in 0..4 %}
    <div class="result suggest row-res grid-row-{{row}}">
    {% if suggestion['row-rules'][row]['rule-with-card'] != "" %}
    <span class="suggest-title with-card">
    With card:
    </span>
    <span class="rule-with-card">
    {{ suggestion['row-rules'][row]['rule-with-card'] }}
    </span>
    {% endif %}
    {% if suggestion['row-rules'][row]['rule-without-card'] != "" %}
    <span class="suggest-title without-card">
    Without card:
    </span>
    <span class="rule-without-card">
    {{ suggestion['row-rules'][row]['rule-without-card'] }}
    </span>
    {% endif %}
    </div>
{% endfor %}
{% for col in 0..4 %}
    <div class="result suggest col-res grid-col-{{col}}">
    {% if suggestion['col-rules'][col]['rule-with-card'] != "" %}
    <span class="suggest-title with-card">
    With card:
    </span>
    <span class="rule-with-card">
    {{ suggestion['col-rules'][col]['rule-with-card'] }}
    </span>
    {% endif %}
    {% if suggestion['col-rules'][col]['rule-without-card'] != "" %}
    <span class="suggest-title without-card">
    Without card:
    </span>
    <span class="rule-without-card">
    {{ suggestion['col-rules'][col]['rule-without-card'] }}
    </span>
    {% endif %}
    </div>
{% endfor %}

</form>

</div>



{% endblock %}
