{% extends 'base-project.html.twig' %}

{% block title %}Casino{% endblock %}

{% block body %}

{{ include('proj/incl/background-image.html.twig') }}

{# {% if user == null %}
    <h1 class="title">Welcome to the casino!</h1>
    {{ include('proj/incl/login-form.html.twig') }}
{% else %} #}
    {# <h1 class="title">Welcome to the casino {{user.name}}!</h1> #}
<h1 class="title">Welcome to the casino Julia!</h1>

{{ include('proj/incl/rules-link.html.twig') }}

<div class="flex-container-row">
    {{ include('proj/incl/logout-btn.html.twig') }}
    {% if user != null %}
        {{ include('proj/incl/continue-btn.html.twig') }}
    {% endif %}
    {{ include('proj/incl/new-game-btn.html.twig') }}
</div>
{# {% endif %} #}





{% endblock %}
