{% extends 'base-project.html.twig' %}

{% block title %}Casino{% endblock %}

{% block body %}

<div class="outer-grid-container">

{{ include('proj/incl/house-grid.html.twig') }}

<div class="center-grid">
{# {{ include('flash.html.twig') }} #}
<span class="instruction">Click on the card you want to move</span>
{{ include('proj/incl/return-to-game-arr.html.twig') }}

</div>
<h2 class="grid-col-2 grid-row-0">You</h2>
<form id="grid-form" method="post" action="">
<div class="game-grid player-grid">
    {% for k in 0..4 %}
        {% for l in 0..4 %}
            {% if player[k][l]['alt'] != "" %}
                <button class="slot clickable player-slot grid-row-{{k}} grid-col-{{l}}" type="submit" onClick="this.form.action='{{ path('set-fromslot', {row: k, col: l}) }}';"><img src="{{ asset(player[k][l]['img']) }}" alt="{{ player[k][l]['alt'] }}"></button>
            {% else %}
                <div class="slot grid-row{{k}} grid-col-{{l}}" ></div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
</form>

</div>



{% endblock %}
