{% extends 'base-project.html.twig' %}

{% block title %}Casino{% endblock %}

{% block body %}

{{ include('proj/incl/bg-cards.html.twig') }}


<h1 class="title">Welcome {{user.acronym}}!</h1>

<div class="flex-container-row profile">
<div class="half-width-col">
{{ include('proj/incl/rules-link.html.twig') }}

{% if finished == false %}
    {{ include('proj/incl/continue-btn.html.twig') }}
{% endif %}

{{ include('proj/incl/new-game-btn.html.twig') }}
</div>

<div class="btns-grid">
<a class="profile-btn grid-col-0 grid-row-0" href="{{ path('shop') }}"><span class="material-symbols-outlined">shop</span>Shop</a>
<a class="profile-btn grid-col-0 grid-row-1" href="{{ path('proj-trans') }}"><span class="material-symbols-outlined">currency_exchange</span>Transaction history</a>
<a class="profile-btn grid-col-1 grid-row-0" href="{{ path('proj-scores-single') }}"><span class="material-symbols-outlined">trophy</span>Your top 10 scores</a>
<a class="profile-btn grid-col-1 grid-row-1" href="{{ path('logout') }}"><span class="material-symbols-outlined">logout</span>Logout</a>
</div>

</div>



{% endblock %}
