{% extends 'base-project.html.twig' %}

{% block title %}Casino{% endblock %}

{% block body %}


<div class="outer-grid-container">
<h2 class="grid-col-0 grid-row-0">House</h2>
<div class="game-grid results house-grid">
{% for i in 0..4 %}
    {% for j in 0..4 %}
        <div class="slot grid-row-{{i}} grid-col-{{j}}"><img src="{{ asset(house[i][j]['img']) }}" alt="{{ house[i][j]['alt'] }}"></div>
    {% endfor %}
{% endfor %}
{% for row in 0..4 %}
    <div class="result row-res grid-row-{{row}}">
    <span class="rule-name">{{ results['house']['rows'][row]['name'] }},
    </span>
    <span class="rule-points">
    {{ results['house']['rows'][row]['points'] }} points
    </span>
    </div>
{% endfor %}
{% for col in 0..4 %}
    <div class="result col-res grid-col-{{col}}">
    <span class="rule-name">{{results['house']['cols'][col]['name']}},
    </span>
    <span class="rule-points"> 
    {{results['house']['cols'][col]['points']}} points
    </span>
    </div>
{% endfor %}

</div>

<div class="center-grid results">
<div class="result-message">
{{ include('flash.html.twig') }}
{{ include('proj/incl/new-game-btn.html.twig') }}
</div>
</div>

<h2 class="grid-col-2 grid-row-0">You</h2>
<div class="game-grid results player-grid">
{% for k in 0..4 %}
    {% for l in 0..4 %}
        <div class="slot grid-row-{{k}} grid-col-{{l}}"><img src="{{ asset(player[k][l]['img']) }}" alt="{{ player[k][l]['alt'] }}"></div>
    {% endfor %}
{% endfor %}
{% for row in 0..4 %}
    <div class="result row-res grid-row-{{row}}">
    <span class="rule-name">
    {{ results['player']['rows'][row]['name'] }},
    </span>
    <span class="rule-points">
    {{ results['player']['rows'][row]['points'] }} points
    </span>
    </div>
{% endfor %}
{% for col in 0..4 %}
    <div class="result col-res grid-col-{{col}}">
    <span class="rule-name">
    {{results['player']['cols'][col]['name']}},
    </span>
    <span class="rule-points">
    {{results['player']['cols'][col]['points']}} points
    </span>
    </div>
{% endfor %}
</div>


</div>



{% endblock %}
