{% extends 'base-project2.html.twig' %}

{% block title %}Casino{% endblock %}

{% block body %}


<div class="outer-grid-container">
<div class="data house-data grid-col-0 grid-row-0">
<span class="name">House</span>
<span class="score">Final score: {{results['house']['total']}}</span>
</div>

{{ include('proj/incl/house-grid.html.twig') }}
<div class="center-grid results">
<div class="result-message">

<span class="instruction">{{ message }}</span>
{{ include('proj/incl/new-game-btn.html.twig') }}
</div>
</div>

<div class="data player-data grid-col-2 grid-row-0">
<span class="name">You</span>
<span class="balance">Balance: {{balance}} coins</span>
<span class="score">Final score: {{results['player']['total']}}</span>
</div>
<div class="game-grid results player-grid">
{% for k in 0..4 %}
    {% for l in 0..4 %}
        <div class="slot grid-row-{{k}} grid-col-{{l}}"><img src="{{ asset(player[k][l]['img']) }}" alt="{{ player[k][l]['alt'] }}"></div>
    {% endfor %}
{% endfor %}
{{ include('proj/incl/player-points.html.twig') }}

</div>


</div>



{% endblock %}
