{% extends 'base-project.html.twig' %}

{% block title %}Casino{% endblock %}

{% block body %}


<div class="outer-grid-container">
<h2 class="grid-col-0 grid-row-0">House, final score: {{results['house']['total']}}</h2>

{{ include('proj/incl/house-grid.html.twig') }}
<div class="center-grid results">
<div class="result-message">

<span class="instruction">{{ message }}</span>
{{ include('proj/incl/new-game-btn.html.twig') }}
</div>
</div>

<h2 class="grid-col-2 grid-row-0">You, final score: {{results['player']['total']}}</h2>
<div class="game-grid results player-grid">
{% for k in 0..4 %}
    {% for l in 0..4 %}
        <div class="slot grid-row-{{k}} grid-col-{{l}}"><img src="{{ asset(player[k][l]['img']) }}" alt="{{ player[k][l]['alt'] }}"></div>
    {% endfor %}
{% endfor %}
{{ include('proj/incl/player-points.html.twig') }}

</div>


</div>



{% endblock %}
