{% extends 'base-project.html.twig' %}

{% block title %}Casino{% endblock %}

{% block body %}

{{ include('proj/incl/bg-cards.html.twig') }}
{{ include('proj/incl/return-arr.html.twig') }}


<h1 class="title">Place your bet</h1>
<div class="select-range">
{{ include('flash.html.twig') }}
<form class="select-amount" action="{{ path('proj-init') }}" method="POST">
    <div class="box">
    <input type="range" name="bet" class="range" value="10" min="10" max="{{ balance }}" step="10" onmousemove="rangeSlider(this.value)" onchange="rangeSlider(this.value)">
    <span id="rangeValue">10</span>
    </div>
    <button class="btn active-btn" type="submit">Submit</button>
</form>
</div>

<script>
    rangeValue = document.getElementById('rangeValue');
    function rangeSlider(value) {
        rangeValue.innerHTML = value;
    }
</script>

{% endblock %}
