{% extends 'base-project.html.twig' %}

{% block title %}Casino{% endblock %}

{% block body %}

{{ include('proj/incl/bg-coins.html.twig') }}


{{ include('proj/incl/return-arr.html.twig') }}

<h1 class="title">Shop</h1>
{{ include('flash.html.twig') }}
<div class="shop">
<form class="coins" action="{{ path('purchase', {coins: 100}) }}" method="POST">
<img class="coins1" src="{{ asset('img/project/coins/coins1.svg') }}" alt="100 coins">
<p>100 coins</p>
<button class="btn active-btn2" type="submit">50 SEK</button>
</form>
<form class="coins" action="{{ path('purchase', {coins: 550}) }}" method="POST">
<img class="coins2" src="{{ asset('img/project/coins/coins2.svg') }}" alt="550 coins">
<p>550 coins</p>
<button class="btn active-btn2" type="submit">250 SEK</button>
</form>
<form class="coins" action="{{ path('purchase', {coins: 10100}) }}" method="POST">
<img class="coins3" src="{{ asset('img/project/coins/coins3.svg') }}" alt="10 100 coins">
<p>10 100 coins</p>
<button class="btn active-btn2" type="submit">5 000 SEK</button>
</form>
<form class="coins" method="POST" action="{{ path('purchase', {coins: 25200}) }}">
<img class="coins4" src="{{ asset('img/project/coins/coins4.svg') }}" alt="25 200 coins">
<p>25 200 coins</p>
<button class="btn active-btn2" type="submit">12 500 SEK</button>
</form>

</div>

{% endblock %}
