<span class="balance balance-alt">Pot: {{ bet * 2 }} coins</span>
{{ include('proj/incl/undo-btn.html.twig') }}
{{ include('proj/incl/move-card-btn.html.twig') }}
{{ include('proj/incl/suggest-btn.html.twig') }}
{# <a class="return-arr" href="{{ path('proj') }}">Return home<span class="material-symbols-outlined">arrow_forward</span></a> #}