<h2 class="grid-col-0 grid-row-0">House</h2>
<div class="game-grid results house-grid">
    {% for i in 0..4 %}
        {% for j in 0..4 %}
            {% if house[i][j] != "" %}
                <div class="slot grid-row-{{i}} grid-col-{{j}}"><img src="{{ asset(house[i][j]['img']) }}" alt="{{ house[i][j]['alt'] }}"></div>
            {% else %}
                <div class="slot grid-row{{i}} grid-col-{{j}}" type="submit"></div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>