{% for row in 0..4 %}
    <div class="result row-res grid-row-{{row}}">
    <span class="rule-name">
    {{ results['player']['rows'][row]['name'] }}:
    </span>
    <span class="rule-points">
    {{ results['player']['rows'][row]['points'] }}
    </span>
    </div>
{% endfor %}
{% for col in 0..4 %}
    <div class="result col-res grid-col-{{col}}">
    <span class="rule-name">
    {{results['player']['cols'][col]['name']}}:
    </span>
    <span class="rule-points">
    {{results['player']['cols'][col]['points']}}
    </span>
    </div>
{% endfor %}