{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Kortspel</h1>
<table>
    <tr><th>Route</th><th>Method</th></tr>
{% for route in cardRoutes %}
    <tr><td>
        {% if route.method != "GET" %}
            {% if route.link == "drawMany" %}
                <form action="{{ path(route.link, {number: 5}) }}" {% if route.method %} method={{ route.method }} {% endif %}>
                <input type="submit" value={{ path(route.link, {number: 5}) }}>
            {% elseif route.link == "deal" %}
                <form action="{{ path(route.link, {players: 3, cards: 5}) }}" {% if route.method %} method={{ route.method }} {% endif %}>
                <input type="submit" value={{ path(route.link, {players: 3, cards: 5}) }}>
            {% else %}
                <form action="{{ path(route.link) }}" {% if route.method %} method={{ route.method }} {% endif %}>
                <input type="submit" value={{ path(route.link) }}>
            {% endif %}
        </form>
        {% else %}
            <a href="{{ path(route.link) }}">{{ path(route.link) }}</a>
        {% endif %}
        </td>
        <td>
            {{ route.method }}
        </td>        
    </tr>
{% endfor %}
</table>

{% endblock %}