{% extends "base.html.twig" %}

{% block title %}Game 21{% endblock %}

{% block body %}
<h1>Level: {{ level }} | Round {{ currentRound }} | Money in pot: {{ moneyPot }}</h1>
{{ include('flash.html.twig') }}
<div class="multi-player" style="grid-template-rows: repeat({{ players|length}}, 1fr);">

<div class="left-side">
{% include 'game21/incl/card-deck.html.twig' %}

<div class="buttons">

{% if finished == true %}
    <p>Spela en omgång till?</p>
    {% include 'game21/incl/start-buttons.html.twig' %}
{% elseif roundOver == false %}
    {% include 'game21/incl/draw-buttons.html.twig' %}
{% else %}
    {% include 'game21/incl/next-round-button.html.twig' %}
{% endif %}
</div>
</div>
{% include 'game21/incl/players.html.twig' %}

</div>

{% endblock %}
