<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{{ asset('img/leaf-single.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="{{ page }}">
        <nav class="topnav" id="myTopnav">
            <a {% if url == '/' %} class="active" {% endif %} href="{{ path('home') }}">Home</a>
            <a {% if url == '/about' %} class="active" {% endif %} href="{{ path('about') }}">About</a>
            <a {% if url == '/report' %} class="active mobile-only" {% else %} class="mobile-only" {% endif %} href="{{ path('report') }}">Report</a>
            <div class="subnav desktop-only">
            <a {% if url == '/report' %} class="active subnavbtn" {% else %} class="subnavbtn" {% endif %} href="{{ path('report') }}">Report &#x25BC;</a>
                <div class="subnav-content">
                    <a href="{{ path('report') }}#kmom01">kmom01</a>
                    <a href="{{ path('report') }}#kmom02">kmom02</a>
                    <a href="{{ path('report') }}#kmom03">kmom03</a>
                    <a href="{{ path('report') }}#kmom04">kmom04</a>
                    <a href="{{ path('report') }}#kmom05">kmom05</a>
                    <a href="{{ path('report') }}#kmom06">kmom06</a>
                    <a href="{{ path('report') }}#kmom10">kmom10</a>
                </div>
            </div>
            <a {% if url == '/lucky' %} class="active" {% endif %} href="{{ path('lucky') }}">Lucky</a>
            <a {% if url == '/card' %} class="active" {% endif %} href="{{ path('card') }}">Kortspel</a>
            <a {% if url == '/api' %} class="active" {% endif %} href="{{ path('api') }}">Json routes</a>



            {# <a {% if url == path('quote') %} class="active mobile-only" {% else %} class="mobile-only" {% endif %} href="{{ path('quote') }}">Quote and date</a>
            <a {% if url == path('lucky') %} class="active mobile-only" {% else %} class="mobile-only" {% endif %} href="{{ path('lucky') }}">Lucky</a>
            <div class="subnav desktop-only">
                <a {% if url == path('quote') or url == path('lucky') %} class="active subnavbtn" {% else %} class="subnavbtn" {% endif %} href="{{ path('report') }}">kmom01 &#x25BC;</a>
                <div class="subnav-content">
                    <a {% if url == path('quote') %} class="active" {% endif %} href="{{ path('quote') }}">Quote and date</a>
                    <a {% if url == path('lucky') %} class="active" {% endif %} href="{{ path('lucky') }}">Lucky</a>
                </div>
            </div> #}
            <a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-expanded="false"
                tabindex="0">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </a>
        </nav>
        <header class="site-header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ asset('img/background.jpg') }})">
            <span class="site-title">Min me-sida i kursen MVC</span>
        </header>

        <main>
        {% block body %}
        {% endblock %}

        </main>
        <footer>
        <p>
            &copy; Julia Lind 2023
        </p>
        </footer>
    </body>
</html>
