<!DOCTYPE html>
<html lang="sv">
    {{ include('partials/head.html.twig') }}
    <body class="{{ page }}">
        {{ include('partials/topnav.html.twig') }}
        {{ include('partials/header.html.twig') }}

        <main>
        {% block body %}
        {% endblock %}

        </main>
        {{ include('partials/footer.html.twig') }}
    </body>
</html>
