{% extends "base.html.twig" %}

{% block title %}Json routes{% endblock %}

{% block body %}
<h1>Json routes overview</h1>
<table>
    <tr><th>Route</th><th>Description</th></tr>
{% for route in jsonRoutes %}
    <tr>
        <td>
        {% if route.method %}
            {% if route.link == "jsonDrawMany" %}
                <form action="{{ path(route.link, {number: 5}) }}" method={{ route.method }}>
                <input type="submit" value={{ route.route }}>
            {% elseif route.link == "jsonDeal" %}
                <form action="{{ path(route.link, {players: 3, cards: 5}) }}" method={{ route.method }}>
                <input type="submit" value={{ route.route }}>
            {% else %}
                <form action="{{ path(route.link) }}" method={{ route.method }}>
                <input type="submit" value={{ route.route }}>
            {% endif %}
        </form>
        {% elseif route.link == "single_book_json" %}
            <a href="{{ path(route.link, {isbn: "9781492053514"}) }}">{{ route.route }}</a>
        {% else %}
            <a href="{{ path(route.link) }}">{{ route.route }}</a>
        {% endif %}
        </td><td>{{ route.descr }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}