{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Report</h1>


    <section id="kmom01">
        {{ kmom01 | raw }}
    </section>
    <section id="kmom02">
        {{ kmom02 | raw }}
    </section> 
    <section id="kmom03">
        {{ kmom03 | raw }}
    </section> 
    <section id="kmom04">
        {{ kmom04 | raw }}
    </section> 
    <section id="kmom05">
        {{ kmom05 | raw }}
    </section> 
    <section id="kmom06">
        {{ kmom06 | raw }}
    </section> 
    <section id="kmom10">
        {{ kmom07 | raw }}
    </section>  

{% endblock %}