<main class="full-page show-many">
{{ include('library/incl/reset-button.html.twig') }}
    {% for book in books %}
        <p>{{ book.id }}</p>
        <p>{{ book.title }}</p>
        <p>{{ book.isbn }}</p>
        <p>{{ book.author }}</p>
        <img src="{{ book.img }}" alt="bokomslag {{ book.title }}">
        <a class="btn" href="{{ path('read_one', {isbn: book.isbn}) }}">Se bok</a>
    {% endfor %}

<span display="hidden" id="placeholder-img">{{ asset('img/libro.svg') }}</span>
</main>

<script>
const placeholder = document.getElementById("placeholder-img");
const imagePath = placeholder.innerText;
placeholder.remove();
const images = document.querySelectorAll('img');

images.forEach(img => {
    img.addEventListener('error', function handleError() {
        img.src = imagePath;
        img.alt = 'placeholder image';
    });
});


</script>