
<main class="full-page show-many">
<h1 class="heading">Alla böcker</h1>
{{ include('flash.html.twig') }}
<a class="close" href="{{ path('library') }}">&#10554; <span class="smaller">Tillbaka till startsidan</span></a>
<section class="books" id="books">



{{ include('library/incl/reset-button.html.twig') }}
<div class="box-container">

{% for book in books %}
<div class="box">
    <div class="image">
    <img src="{{ book.img }}" alt="bild på bok {{ book.title }}">
    </div>
    <div class="content">
        <span class="book-title">{{ book.title }}</span>
        <span class="isbn">ISBN {{ book.isbn }}</span>
        <span class="author">{{ book.author }}</span>
    <a class="btn" href="{{ path('read_one', {isbn: book.isbn}) }}">Se bok</a>
    </div>
</div>
{% endfor %}

</div>

</section>

<span display="hidden" id="placeholder-img">{{ asset('img/placeholder.png') }}</span>

</main>
<script>
const placeholder = document.getElementById("placeholder-img");
const imagePath = placeholder.innerText;
placeholder.remove();
const images = document.querySelectorAll('img');

images.forEach(img => {
    img.addEventListener('error', function handleError() {
        img.src = imagePath;
        img.alt = 'placeholder image';
    });
});


</script>